<?xml version="1.0"?>
<ruleset name="Ork Beer">
    <rule ref="Ork">
        <exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundInExtendedClass"/>
        <exclude name="Generic.Commenting.DocComment.MissingShort"/>
        <exclude name="Squiz.PHP.Heredoc.NotAllowed"/>
    </rule>
    <rule ref="PHPCompatibility"/>
    <config name="php_version" value="80024"/>
    <config name="testVersion" value="8.0-"/>
    <file>src</file>
</ruleset>
