<?xml version="1.0"?>
<ruleset name="Ork Beer">
    <rule ref="Ork">
        <exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundInExtendedClass"/>
        <exclude name="Generic.Strings.UnnecessaryHeredoc.Found"/>
        <exclude name="Squiz.PHP.Heredoc.NotAllowed"/>
    </rule>
    <rule ref="PHPCompatibility"/>
    <config name="php_version" value="80228"/>
    <config name="testVersion" value="8.2-"/>
    <file>src</file>
</ruleset>
